header {
    
    > figure {
        height: 75vh;
    }

    > div {
        position: absolute;
        top: 0;
        right: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75vh;
    }

    /*ul {
        color: white;
        list-style: none;
        position: absolute;
        top: 5em;
        right: 5em;

        display: flex;
        flex-direction: row;
        width: 28em;

        li {
            flex: 1 1 auto;
        }
    }*/
}